Options +FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^favicon.ico$ favicon.ico  [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule    (.*) index.php?url=$1  	[L]
</IfModule>
