/* GENERIC */
html { font-size:100%; }
body { line-height:1.6; overflow-x: hidden; }
img { max-width:100%; height:auto; }
iframe { border:0; outline:none; }
video, audio { width:100%; }
object, embed, video, iframe { max-width:100%; }
h1, h2, h3, h4, h5, h6 { line-height:1.5; font-weight:400; }
a { color: #CE6607; text-decoration:none; }
a:hover { color:#A35208; }
a:focus { outline: none; }
h1 a { color:#333; }
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.easing, .media-box .mask {
  -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */ }


/* -------------------------------------------- */
/* FONTS */
html, button, input, select, textarea, .toggle h4 { font-family: 'Lora', Georgia, serif; }
h1, h2, h3, h4, h5, h6, .main-navigation ul li, dt { font-family:"Coustard", Georgia, serif; }
h1.site-title, h1.site-title a { font-family:"UnifrakturMaguntia", Georgia, serif; }


/* -------------------------------------------- */
/* COLORS */
/* Text Selection */
::selection { text-shadow:none; color:#333; background:#FF9; }
::-moz-selection { text-shadow:none; color:#333; background:#FF9; }
body { color:#444; }


/* -------------------------------------------- */
/* LAYOUT */
.middle { padding-bottom: 4em; overflow: hidden; }
.wrapper { width:100%; }
.wrapper > .row { width:80%; margin-left:auto; margin-right:auto; }
.row-fluid { margin-left:auto; margin-right:auto; }
.readable-content { max-width:780px; margin-left:auto; margin-right:auto; }


/* HEADER */
.site-header { padding-top:1.250em; padding-bottom: 3em; text-align:center; }
.site-header hgroup { padding: 2.5em 0 1.875em 0; }
h1.site-title { font-size:6em; line-height:1.3; margin-bottom:.25em; margin-top:0; }
h1.site-title img { max-height:200px; }
h1.site-title a { border-bottom:1px dotted #ccc; }
h1.site-title a:hover { color:#000; }
.site-description { font-size:.8em; font-weight:400; }

/* NAVIGATION */
.main-navigation { border-style:solid; border-width:1px 0; border-color: #eee; }
.main-navigation ul { list-style:none; padding:0; margin:0; }
.main-navigation ul li { position:relative; display:inline-block; margin:0 1.25em; padding:1em 0; max-height: 1.5em; font-size:.9em; }
.main-navigation ul li a { display:inline-block; }
.main-navigation ul .current-menu-item > a { color:#C30; }
.main-navigation ul li, .main-navigation ul li a { color:#333; }
.main-navigation > ul > li > a:hover, .main-navigation > ul > li > a.selected { border-bottom:1px dotted #ccc; }

/* -------------------------------------------- */
/* TYPOGRAPHY */
/* headings and paragraphs */
h1 { font-size: 2.20em; margin: 0.8em 0 0.4em 0; }
h2 { font-size: 1.60em; margin: 1.4em 0 0.8em 0; }
h3 { font-size: 1.20em; margin: 1.0em 0 .6em 0; }
h4 { font-size: 0.90em; margin: 1.0em 0 .6em 0; }
h5 { font-size: 0.90em; margin: 1.0em 0 .8em 0; }
h6 { font-size: 0.85em; margin: 1.0em 0 .8em 0; }
p { margin: 1.2em 0; }
.entry-title { margin-top:0; }
.entry-content h4 { padding-left: .8em; border-left: 4px solid #ccc; }
.entry-content h5 { font-weight:bold; }
.lead { font-size:1.2em; }

/* tagline and blockquote */
.tagline, blockquote { text-align:center; }
.tagline *:first-child { margin-top:0; }
blockquote { position: relative; margin:2em 0; padding:1em 3em 2em 3em; }
blockquote:before { display: block; content: "\201C"; line-height:1; font-size: 6em; font-family:Georgia, "Times New Roman", Times, serif; position: absolute; left: 0; top: -0.1em; color: #ddd; }
blockquote { font-size:1.3em; }
blockquote cite { color: #999; font-size: .85em; display: block; margin-top: .8em; }
blockquote cite:before { content: "\2014 \2009"; }
.tagline { margin:3em 0; padding:1em 2em; border-width:1px 0; border-style:dashed; border-color:#ccc; }
.tagline * { padding-bottom:0; margin-bottom:0; }
.tagline p { font-size:1.4em; }
.tagline h3, .tagline h4 { border:0; padding:0; }
hr { padding: .6em 0 1em 0; outline:0; border-width:0 0 1px 0; border-style:dashed; border-color: #ccc; }

/* tables */
table { font-size:.9em; }
tr th { padding:.6em 2em .4em 0; border-bottom:4px solid #555; text-transform:uppercase; }
tr td { color:#666; padding:.8em 2em .6em 0;  border-bottom:1px solid #eee; }
tfoot tr td { border-bottom:0; }
tr:nth-child(odd) td {}

/* code and pre */
code,
pre { padding: 0 3px 2px; margin-bottom:2em; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 12px; color: #333333; }
code { display: inline-block; margin:0 .4em; padding: 1px 6px; background: #fff; border: 1px solid #DDD; box-shadow: 1px 1px 0 #fff, 2px 2px 0 #ddd; }

/* lists */
ol, ul { margin: .2em 0 1em 0; }
ul { list-style:square; }
dt { font-size:.92em; }
dd { font-size:.9em; padding-bottom:1em; margin-left:1em; }
dd:before { content: "\f0a4"; font-size:14px; }

#posts h3{
	text-decoration: underline;
}

#posts p{
	font-size:12px;
	white-space:pre-wrap;
}

#posts h5{
	color:lightsalmon;
}